/* Reset some default browser styles */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}
/* Hero section layout */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* fills most of the viewport height */
    text-align: right;
    background-color: #1F2937; /* placeholder, use dark blue */
}

/* Button color, sign up for us please layout */
.sign up for us please {
                    display: flex;
                    flex-direction: column;
                    background-color: #3882F6
}

.section1, .section2, .section3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 50px 50px;
    background color:#3882F6; /*  placeholder, use designated color*/
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #333;
    color: carmine;
}
